<div class="tabs is-boxed">
  <ul>
    <li class="{{ 'is-active' if active == 'teams' }}">
      <a href="{{basePath}}">Services</a>
    </li>
    <li class="{{ 'is-active' if active == 'runtimes' }}">
      <a href="{{basePath}}/runtimes">Runtimes</a>
    </li>
    <li class="{{ 'is-active' if active == 'help' }}">
      <a href="{{basePath}}/help">Help</a>
    </li>
  </ul>
</div>