<footer class="govuk-footer">
    <div class="govuk-width-container">
        <div class="footer-center-content">
        <span class="footer-center-text">Built by <a href="https://github.com/companieshouse/services-dashboard-web" class="footer-center-text">Companies House</a></span>
        </div>
        <div class="footer-right-content">
        <span class="footer-right-text">last scan: {{lastScan}}</span>
        </div>
        <button id="button-share">share</button>
        <div id="share-status-message">
        <span id="share-status-icon"></span>
        <span id="share-status-text"></span>
        </div>
    </div>
</footer>