{% extends "layout.njk" %}

{% block title %}Services Dashboard{% endblock %}

{% block header %}

   <link rel="SHORTCUT ICON" href="//{{CDN_HOST}}/images/favicon.ico" />
   <div class="header-container">
        <div class="header-left-content">
            <img src="//{{CDN_HOST}}/images/royal-coat-of-arms-white.svg" alt="Logo" class="header-logo">
            <a href="https://www.gov.uk/government/organisations/companies-house" class="header-logo-text">Companies House</a>
        </div>
        <div class="header-center-content">
            <span class="header-center-text">Services</span>
        </div>
            <div class="header-right-content">
               <button id="button-share">share</button>
                   <div id="share-status-message">
                     <span id="share-status-icon"></span>
                     <span id="share-status-text"></span>
                  </div>
            </div>
         </div>
      </div>

   <!--
      <a href="{{ selfUrl }}">self url</a>
   -->
{% endblock %}

{% block menu %}
   <div class="sticky-header">
         <input type="checkbox" id="masterCheckbox">
         <label for="masterCheckbox"><strong>Select All</strong></label>
         <hr>
   </div>
   <form id="filterForm">
   <!-- Master checkbox to control all .name-checkbox -->
   {% for document in documents %}
      <div>
         <input type="checkbox" id="{{ document.name }}" class="name-checkbox" checked>
         <label for="{{ document.name }}">{{ document.name }}</label>
         <div>
            {% for version in document.versions %}
               <input type="checkbox" id="{{ document.name }}-{{ version.version }}" class="version-checkbox" data-name="{{ document.name }}" checked>
               <label for="{{ document.name }}-{{ version.version }}" >{{ version.version }}</label><br>
            {% endfor %}
         </div>
      </div>
   {% endfor %}
   </form>
{% endblock %}

{% block content %}
   <div class="table-services-container">
      <table id="table-services">
         <thead>
         <!-- Headers for Table -->
         <tr>
               <th data-type="string"> Service</th>

               <th data-type="string"> Owner</th>
               <th data-type="string"> Lang</th>
               <th data-type="string"> Last Release</th>
               <th data-type="date">   Date</th>

               <th data-type="string" class="header-sonar-metric"> Coverage</th>
               <th data-type="number" class="header-sonar-metric"> Bugs</th>
               <th data-type="number" class="header-sonar-metric"> Code smell</th>
               <th data-type="number" class="header-sonar-metric"> Vulnerabilities</th>

               <th data-type="string"> Version</th>
               <th data-type="string"> Runtime</th>
               <th data-type="date">   Last BOM Import</th>
               <th data-type="number" class="header-dt-metric">Critical</th>
               <th data-type="number" class="header-dt-metric">High</th>
               <th data-type="number" class="header-dt-metric">Medium</th>
               <th data-type="number" class="header-dt-metric">Low</th>
               <th data-type="number" class="header-dt-metric">Vulner.</th>
               <th data-type="number" class="header-dt-metric">Compon.</th>
         </thead>
         <tbody>
         </tr>
         {% for document in documents %}
            <!-- Iterate over each version entry in versions array -->
            {% for version in document.versions %}
               <tr data-name="{{ document.name }}" data-version="{{ version.version }}">
                     <!-- 1st Column (link) -->
                     <td class="td-name"><a href="{{ document.gitInfo.repo }}">{{ document.name }}</a></td>

                     <!-- 4 Columns (Git info)-->
                     <td class="td_git-owner">     <a href="{{ document.gitInfo.repo }}/settings/custom-properties">{{ document.gitInfo.owner }}</a></td>
                     <td class="td_git-lang">      <a href="{{ document.gitInfo.repo }}">                           {{ document.gitInfo.lang }}</a></td>
                     <td class="td-git-version">   <a href="{{ document.gitInfo.repo }}/releases">                  {{ document.gitInfo.lastRelease.version }}</a></td>
                     <td class="td-git-date"><span><a href="{{ document.gitInfo.repo }}/releases">                  {{ document.gitInfo.lastRelease.date | date("YYYY-MM-DD") }}</a></span><br><span class="days-ago">({{ document.gitInfo.lastRelease.date | daysAgo }})</span></td>

                     <!-- 4 Columns (sonar Metrics) -->
                     <td class="td-met-coverage">       {{ sonarLink(document.sonarKey, document.sonarMetrics.coverage) }}</td>
                     <td class="td-met-bugs">           {{ sonarLink(document.sonarKey, document.sonarMetrics.bugs) }}</td>
                     <td class="td-met-smells">         {{ sonarLink(document.sonarKey, document.sonarMetrics.code_smells) }}</td>
                     <td class="td-met-vulnerabilities">{{ sonarLink(document.sonarKey, document.sonarMetrics.vulnerabilities) }}</td>

                     <!-- 9 Columns (Version specific) -->
                     <td class="td-version">{{ version.version }}</td>
                     <td class="td-runtime">
                        {% if version.runtime.length > 1 %}
                           <ul class="td-runtime-info"> {% for info in version.runtime %} <li>{{ info }}</li> {% endfor %} </ul>
                        {% else %}
                           {{ version.runtime[0] }}
                        {% endif %}
                     <td class="td-bom-import"><span>{{ depTrackLink(version.uuid, version.lastBomImport | date("YYYY-MM-DD")) }}</span><br><span class="days-ago">({{ version.lastBomImport | daysAgo }})</span></td>
                     <td class="td-critical">
                        {% if version.metrics.critical != 0 %}
                           <div class="rounded-number metric-critical-back">
                        {% else %}
                           <div class="front-number metric-critical-front">
                        {% endif %}
                              <span title="critical">{{ depTrackLink(version.uuid, version.metrics.critical) }}</span>
                           </div>
                     </td>
                     <td class="td-sonar-high">
                        {% if version.metrics.high != 0 %}
                           <div class="rounded-number metric-high-back">
                        {% else %}
                           <div class="front-number metric-high-front">
                        {% endif %}
                              <span title="high">{{ depTrackLink(version.uuid, version.metrics.high) }}</span>
                           </div>
                     </td>
                     <td class="td-sonar-medium">
                        {% if version.metrics.medium != 0 %}
                           <div class="rounded-number metric-medium-back">
                        {% else %}
                           <div class="front-number metric-medium-front">
                        {% endif %}
                              <span title="medium">{{ depTrackLink(version.uuid, version.metrics.medium) }}</span>
                           </div>
                     </td>
                     <td class="td-sonar-low">
                        {% if version.metrics.low != 0 %}
                           <div class="rounded-number metric-low-back">
                        {% else %}
                           <div class="front-number metric-low-front">
                        {% endif %}
                              <span title="low">{{ depTrackLink(version.uuid, version.metrics.low) }}</span>
                           </div>
                     </td>
                     <td class="td-sonar-vulnerabilities">
                        {% if version.metrics.vulnerabilities != 0 %}
                           <div class="rounded-number metric-vulnerabilities-back">
                        {% else %}
                           <div class="front-number metric-vulnerabilities-front">
                        {% endif %}
                              <span title="vulnerabilities">{{ depTrackLink(version.uuid, version.metrics.vulnerabilities) }}</span>
                           </div>
                     </td>
                     <td class="td-sonar-components">
                        {% if version.metrics.components != 0 %}
                           <div class="rounded-number metric-components-back">
                        {% else %}
                           <div class="front-number metric-components-front">
                        {% endif %}
                              <span title="components">{{ depTrackLink(version.uuid, version.metrics.components, "components") }}</span>
                           </div>
                     </td>
            </tr>
            {% endfor %}
         {% endfor %}
         </tbody>
      </table>
   </div>
{% endblock %}

{% block footer %}
   <span class="footer-text">Built by <a href="https://github.com/companieshouse/services-dashboard-web" class="footer-text">Companies House</a></span>
{% endblock %}

{% macro depTrackLink(uuid, val, arg) %}
    {% if uuid %}
        <a class="deptrack-link" href="{{ depTrackUri }}/projects/{{ uuid }}/{{ arg }}">{{val}}</a>
    {% else %}
        {{ val }}
    {% endif %}
{% endmacro %}

{% macro sonarLink(sonarKey, val) %}
    {% if sonarKey %}
        <a class="sonar-link" href="{{ sonarUri }}/dashboard?id={{ sonarKey | urlencode }}">{{val}}</a>
    {% else %}
        {{ val }}
    {% endif %}
{% endmacro %}
