<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css">
  <link rel="stylesheet" href="{{basePath}}/css/common.css">
  <script src="{{basePath}}/js/libs/pako/2.0.4/pako.min.js"></script>
  <script src="{{basePath}}/js/common.js"></script>
  <script type="module" src="{{basePath}}/js/main.js"></script>
</head>
<body>

  <section class="hero">
    <div class="hero-body">
      <p class="title">Companies House Service Dashboard</p>
      <p class="subtitle">Last scan: {{ lastScan | date("DD MMM YYYY - h:mm:ss A") }}</p>
    </div>
  </section>

  {% include "partials/tabs.njk" %}

  <section class="section">
    {% block content %}{% endblock %}
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const currentHost = window.location.host;
      console.log("Current host: ", currentHost);
      document.querySelectorAll("a[href]").forEach(a => {
        try {
          const url = new URL(a.href);
          if (url.host !== currentHost) {
            a.setAttribute("target", "_blank");
            a.setAttribute("rel", "noopener noreferrer");
          }
        } catch (e) {
          // Ignore invalid URLs
        }
      });
    });
  </script>
</body>
</html>