<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--[if !IE 8]><!-->
   <link rel="stylesheet" type="text/css" media="all" href="//{{CDN_HOST}}/stylesheets/govuk-frontend/v4.6.0/govuk-frontend-4.6.0.min.css" />
   <link rel="stylesheet" type="text/css" media="all" href="//{{CDN_HOST}}/stylesheets/services/overseas-entities/application.css"  />
   <!--<![endif]-->
   <link rel="stylesheet" href="/css/styles.css">
   <title>{% block title %}Services Dashboard{% endblock %}</title>
   <script src="/js/libs/pako/2.0.4/pako.min.js"></script>
   <script src="/js/utils.js"></script>
</head>
<body>
   <header>
      {% block header %}Header{% endblock %}
   </header>

    <div class="container">
      <aside class="menu">
               {% block menu %}Menu{% endblock %}
      </aside>
      <main class="main">
               {% block content %}Main{% endblock %}
      </main>
    </div>
   <footer>
      {% block footer %}Footer{% endblock %}
   </footer>
</body>
</html>
