{# set a standard id (e.g. remove unallowed chars (currently spaces)
   Note the {%- ... -%} syntax, which removes unnecessary whitespace added by nunjucks
#}
{% macro setStandardId(id) -%}
    {%- set validId = id | replace(' ', '-') | lower | trim -%}
    {{- validId -}}
{%- endmacro %}

{% macro addDaysAgo (date) %}
   {% set value = date | daysAgo %}
      {% if value %}
         <span class="days-ago">({{ value }})</span>
      {% endif %}
{% endmacro %}

{% macro setLanguage(depTrackLang, gitLang, repo) %}
   {% if depTrackLang and gitLang and (depTrackLang | lower) == (gitLang | lower) or (depTrackLang and not gitLang) or (gitLang and not depTrackLang) %}
      <a href="{{ repo }}">{{ depTrackLang or gitLang }}</a>
   {% elif depTrackLang != gitLang %}
      <ul>
         <li><a href="{{ repo }}">{{ gitLang }}</a></li>
         <li>{{ depTrackLang }}</li>
      </ul>
   {% endif %}
{% endmacro %}


{% macro sonarLink(sonarUri, sonarKey, val, name, style, tooltip) %}
   <span title="{{ name }}" class="tag level-item {{style}} has-tooltip-bottom" data-tooltip={{tooltip}}>
      {% if sonarKey %}
         <a class="sonar-link" href="{{ sonarUri }}/dashboard?id={{ sonarKey | urlencode }}">{{val}}</a>
      {% else %}
         {{ val }}
      {% endif %}
   </span>
{% endmacro %}

{% macro depTrackLink(depTrackUri, metricVal, uuid, arg) %}
    {% if uuid %}
        <a class="deptrack-link has-text-black" href="{{ depTrackUri }}/projects/{{ uuid }}/{{ arg }}">{{metricVal}}</a>
    {% else %}
        {{ metricVal }}
    {% endif %}
{% endmacro %}

{% macro DepTrackMetrics(depTrackUri, metricVal, metricClass, uuid, arg, style, tooltip) %}
    {% if metricVal != 0 %}
      <div class="rounded-number dt-metric-{{ metricClass }}-back">
    {% else %}
      <div class="front-number dt-metric-{{ metricClass }}-front">
    {% endif %}
      <span title={{ metricClass }} class="tag level-item {{style}} has-tooltip-bottom" data-tooltip={{ tooltip }}>
         {{depTrackLink(depTrackUri, metricVal, uuid, arg)}}
      </span>      
      </div>
{% endmacro %}

{#
macro to create a unique sorted list of values for a given field in a collection:
- collection: the array to loop over (ex. "documents")
- field: the nested property to extract unique values from (ex "-----.gitInfo.owner")

The sorted list is saved into a global variable "uniqueSortedValues"
which allows this macro to be reused to create dropdown or radiobutton filters
 #}

{% macro getListUniqueValues(collection, field) %}
   {% set uniqueValues = [] %}

   {% for item in collection %}
     {# split the field into keys  (ex. "gitInfo.owner" ==>  ["gitInfo", "owner"]) #}
      {% set keys = field.split('.') %}
      {% set value = item %}
      {% for key in keys %}
            {% if value[key] is defined %}
               {% set value = value[key] %}
            {% else %}
               {% set value = '' %}
            {% endif %}
      {% endfor %}

      {% if value and value not in uniqueValues %}
            {% set _ = uniqueValues.push(value) %}
      {% endif %}
   {% endfor %}

   {# Sort the unique values #}
   {{ uniqueValues | sort | setGlobal('uniqueSortedValues') }}
{% endmacro %}


{#
macro to create a dropdown filter for a given field in a collection.
It uses the common macro 'getListUniqueValues' which sets the global var:
'global.uniqueSortedValues', so that this function can loop it over to create the options.

- collection: to forward to 'getListUniqueValues'
- field: to forward to 'getListUniqueValues'
- the unique id to assign to the resulting <select>

The select will have:
 - an "All" option (left always at 1st position)
 - one option for each unique value of the field in the collection
 - sorted values
 #}

{% macro dropdownFilter(collection, field, id) %}
   {% call getListUniqueValues(collection, field) %}{% endcall %}

   <!-- Generate options -->
   <select class="header-select" id="{{ id }}">
        <option value="All">All</option>
        {% for value in getGlobal('uniqueSortedValues') %}
            <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
   </select>
{% endmacro %}

{% macro addCoverageColorClass(coverage) %}
   {% if coverage >= 75 %}
      is-success
   {% elseif coverage >= 50  %}
      is-warning
   {% else %}
      is-danger
   {% endif %}
{% endmacro %}