{% extends "layout.njk" %}
{% from "macros.njk" import addCoverageColorClass, addVulnerabilityKey %}

{% block content %}
    {% set dateFormat = "DD MMM YYYY - h:mm:ss A"%}
    {% if service %}
        {% set gitInfo = service.gitInfo %}
        {% set ecs = service.ecs %}

        <h2 class="title is-3">{{ serviceName }}</h2>
        <h3 class="is-size-4">Overview</h3>
        <div class="columns">
            <div class="column">
                <table class="table is-bordered is-fullwidth">
                    <tbody>
                        <tr>
                            <th>Owner</th>
                            <td>{{gitInfo.owner}}</td>
                        </tr>
                        <tr>
                            <th>Links</th>
                            <td>
                                {% if gitInfo.repo %}
                                    <a class="button" href="{{gitInfo.repo}}">GitHub</a>
                                {% endif %}
                                {% if service.sonarKey %}
                                    <a class="button" href="{{sonarUri}}/dashboard?id={{ service.sonarKey }}">SonarQube</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>CI-Dev</th>
                            <td>
                                {% if ecs.cidev.version %}
                                    <strong>{{ecs.cidev.version}} </strong>
                                    - {{ecs.cidev.gitReleaseDate | date(dateFormat)}}
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Staging</th>
                            <td>
                                {% if ecs.staging.version %}
                                    <strong>{{ecs.staging.version}} </strong>
                                    - {{ecs.staging.gitReleaseDate | date(dateFormat)}}
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Live</th>
                            <td>
                                {% if ecs.live.version %}
                                    <strong>{{ecs.live.version}} </strong>
                                    - {{ecs.live.gitReleaseDate | date(dateFormat)}}
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                        </tr>
                        {% if service.sonarMetrics %}
                        {% set coverage = service.sonarMetrics.coverage %}
                            <tr>
                                <th>SonarQube Metrics</th>
                                <td>
                                    {% if coverage == 0 %}
                                        <p>Overall Coverage: </p>
                                        <progress class="progress" value="0" max="100" data-tooltip="Unknown Coverage">
                                            0
                                        </progress>
                                    {% else %}
                                        <p>Overall Coverage: </p>
                                        <progress class="progress {{ addCoverageColorClass(coverage) }} has-tooltip" value="{{coverage}}" max="100" data-tooltip="{{ coverage }}% Overall Coverage">
                                            {{ coverage }}
                                        </progress>
                                    {% endif %}
                                    <div class="level">
                                        <span class="tag level-item is-danger has-tooltip" data-tooltip="Vulnerabilities">
                                            Vulnerabilities: {{ service.sonarMetrics.vulnerabilities }}
                                        </span>
                                        <span class="tag level-item is-warning has-tooltip" data-tooltip="Bugs">
                                            Bugs: {{ service.sonarMetrics.bugs }}
                                        </span>
                                        <span class="tag level-item is-info has-tooltip" data-tooltip="Code Smells">
                                            Code Smells: {{ service.sonarMetrics.code_smells }}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="column">
                <table class="table is-bordered is-fullwidth">
                    <thead>
                        <tr>
                            <th>Git Releases</th>
                            <th>Release Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for release in service.gitInfo.releases %}
                            <tr>
                                <td>
                                    <a href="{{ service.gitInfo.repo }}/releases/tag/{{ release.version }}">
                                        {{release.version}}
                                    </a>
                                </td>
                                <td>
                                    {{release.date | date(dateFormat)}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    
        <h2 class="is-size-3">Dependency Track</h2>
        <div class="service-vulnerability-keys">
            {{addVulnerabilityKey("is-flex-direction-row", "ml-2")}}
        </div>
        <table class="table is-fullwidth mt-5">
            <thead>
                <tr>
                    <th>Version</th>
                    <th>Environments</th>
                    <th class="has-tooltip" data-tooltip="When the version was uploaded to DepTrack">Last BOM Import</th>
                    <th>Language</th>
                    <th>Runtimes</th>
                    <th>Vulnerabilities</th>
                </tr>
            </thead>
            <tbody>
            {% for version in service.versions %}
                <tr>
                    <td>
                        <a href="{{depTrackUri}}/projects/{{version.uuid}}/findings">
                            {{version.version}}
                        </a>
                    </td>
                    <td>
                        {% for value in version.deployments %}
                            <span class="tag is-info">{{value}}</span>
                        {% endfor %}
                    </td>
                    <td>{{version.lastBomImport | date(dateFormat)}}</td>
                    <td>{{version.lang}}</td>
                    <td>
                        {% for info in version.runtimeData.runtime%}
                            {% if info.color == "red" %}
                                <span class="tag is-danger">{{ info.value }}</span>
                            {% elseif info.color == "green" %}
                                <span class="tag is-success">{{ info.value }}</span>
                            {% elseif info.color == "yellow" %}
                                <span class="tag is-warning">{{ info.value }}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <div class="level">
                            <p class="has-tooltip" data-tooltip="Total vulnerabilities, including those unassigned a criticality">
                                Total: {{version.metrics.vulnerabilities}}
                            </p>
                            <span class="tag is-critical-vuln has-tooltip" data-tooltip="Critical">{{version.metrics.critical}}</span>
                            <span class="tag is-high-vuln has-tooltip" data-tooltip="High">{{version.metrics.high}}</span>
                            <span class="tag is-medium-vuln has-tooltip" data-tooltip="Medium">{{version.metrics.medium}}</span>
                            <span class="tag is-low-vuln has-tooltip" data-tooltip="Low">{{version.metrics.low}}</span>
                            <span class="tag has-tooltip" data-tooltip="Components">{{version.metrics.components}}</span>
                        </div>
                    </td>
                <tr>     
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>We couldn't find that service.</h1>
    {% endif %}
{% endblock %}