{% extends "layout.njk" %}
{% set active = "stats" %}

{% block content %}
<h2 class="title">Statistics</h2>
<div class="columns is-multiline">
  <div class="column is-full">
    <div class="box">
      <h3 class="subtitle">Vulnerabilities per Team</h3>
        <canvas id="chart-team-vulnerabilities" aria-label="Vulnerabilities per Team" role="img">
            <p>Vulnerabilities per Team</p>
        </canvas>
    </div>
  </div>
  <div class="column is-half">
    <div class="box">
      <h3 class="subtitle">Critical Vulnerabilities per Team</h3>
        <canvas id="chart-criticals-per-team" aria-label="Critical Vulnerabilities per Team" role="img">
            <p>Critical Vulnerabilities per Team</p>
        </canvas>
    </div>
  </div>
  <div class="column is-half">
    <div class="box">
      <h3 class="subtitle">High Vulnerabilities per Team</h3>
        <canvas id="chart-highs-per-team" aria-label="High Vulnerabilities per Team" role="img">
            <p>High Vulnerabilities per Team</p>
        </canvas>
    </div>
  </div>
  <div class="column is-half">
    <div class="box">
      <h3 class="subtitle">Services per Team</h3>
        <canvas id="chart-services-per-team" aria-label="Services per Team" role="img">
            <p>Services per Team</p>
        </canvas>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ basePath }}/js/libs/chartjs/4.5.1/chart.umd.min.js"></script>
<script>
    const stats = {{ stats | safe }}; // safe because it is coming from Mongo, not user input
    new Chart(document.getElementById("chart-criticals-per-team"), {
        type: "polarArea",
        data: {
        labels: stats.map(t => t._id),
        datasets: [{ label: "Critical Vulnerabilities", data: stats.map(t => t.totalCritical), hoverOffset: 4 }]
        }
    });
    new Chart(document.getElementById("chart-highs-per-team"), {
        type: "polarArea",
        data: {
        labels: stats.map(t => t._id),
        datasets: [{ label: "High Vulnerabilities", data: stats.map(t => t.totalHigh), hoverOffset: 4 }]
        }
    });
    new Chart(document.getElementById("chart-services-per-team"), {
        type: "pie",
        data: {
        labels: stats.map(t => t._id),
        datasets: [{ data: stats.map(t => t.servicesCount) }]
        }
    });
    new Chart(document.getElementById("chart-team-vulnerabilities"), {
        type: "line",
        data: {
        labels: stats.map(s => s._id),
        datasets: [
            { label: "Critical",          data: stats.map(s => s.totalCritical),              borderColor: "rgb(255, 99, 132)",  tension: 0.1 },
            { label: "High",              data: stats.map(s => s.totalHigh),                  borderColor: "rgb(255, 159, 64)",  tension: 0.1 },
            { label: "Medium",            data: stats.map(s => s.totalMedium),                borderColor: "rgb(255, 205, 86)",  tension: 0.1 },
            { label: "Low",               data: stats.map(s => s.totalLow),                   borderColor: "rgb(75,  192, 192)", tension: 0.1 },
            { label: "Policy Violations", data: stats.map(s => s.totalPolicyViolationsTotal), borderColor: "rgb(153, 102, 255)", tension: 0.1 },
        ]
        },
        options: {
        scales: { y: { beginAtZero: true } }
        }
    });
</script>

{% endblock %}