/* public/css/common.css */

.table thead th {
  position: sticky;
  top: 0;
  z-index: 2; /* keep above rows */
}
a {
  text-decoration: underline;
}

.has-tooltip::before,
.has-tooltip::after,
.has-tooltip-bottom::before,
.has-tooltip-bottom::after,
.has-tooltip-right::before,
.has-tooltip-right::after,
.has-tooltip-left::before,
.has-tooltip-left::after {
  z-index: 9999 !important;
}