/* public/css/common.css */

.table thead th {
  position: sticky;
  top: 0;
  background-color: white; /* ensure header isn't transparent */
  z-index: 2; /* keep above rows */
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.has-tooltip::before,
.has-tooltip::after,
.has-tooltip-bottom::before,
.has-tooltip-bottom::after,
.has-tooltip-right::before,
.has-tooltip-right::after,
.has-tooltip-left::before,
.has-tooltip-left::after {
  z-index: 9999 !important;
}