/* public/css/common.css */

body {
  padding: 1em;
}

nav {
  margin-top: 1em;
  margin-bottom: 1em;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 2; /* keep above rows */
}

a {
  text-decoration: underline;
}

span[data-tooltip] {
  /* By default, tooltip adds a dashed border under each span - we'll override it */
  border-bottom: 1px solid black; 
}

.tag {
  border: 1px solid black !important;
}

.progress {
  border: 1px solid black;
  border-radius: 0;
}

.tag:hover {
  cursor: default;
}

.service-vulnerability-keys {
  max-width: 15em;
}

.has-tooltip::before,
.has-tooltip::after,
.has-tooltip-bottom::before,
.has-tooltip-bottom::after,
.has-tooltip-right::before,
.has-tooltip-right::after,
.has-tooltip-left::before,
.has-tooltip-left::after {
  z-index: 9999 !important;
}