/* public/css/common.css */

:root {
  --critical-bg: #d21919;
  --critical-text: #ffffff;

  --high-bg: 	#f9a805;
  --high-text: #000000;

  --medium-bg: 	#f9e10b;
  --medium-text: #000000;

  --low-bg: #6b6b6b;
  --low-text: #ffffff;

  --clear-bg: 	#41d115;
  --clear-text: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --high-text: #000000;
    --medium-text: #000000;
  }
}

body {
  padding: 1em;
}

nav {
  margin-top: 1em;
  margin-bottom: 1em;
}

.table thead th {
  position: sticky;
  top: 0;
  z-index: 2; /* keep above rows */
}

a {
  text-decoration: underline;
  color: inherit;
}

span[data-tooltip] {
  /* By default, tooltip adds a dashed border under each span - we'll override it */
  border-bottom: 1px solid black; 
}

.tag {
  border: 1px solid black !important;
}

.progress {
  border: 1px solid black;
  border-radius: 0;
}

.tag:hover {
  cursor: default;
}

.service-vulnerability-keys {
  max-width: 15em;
}

.has-tooltip::before,
.has-tooltip::after,
.has-tooltip-bottom::before,
.has-tooltip-bottom::after,
.has-tooltip-right::before,
.has-tooltip-right::after,
.has-tooltip-left::before,
.has-tooltip-left::after {
  z-index: 9999 !important;
}

.is-critical-vuln {
  --vuln-bg: var(--critical-bg);
  --vuln-text: var(--critical-text);
}

.is-high-vuln {
  --vuln-bg: var(--high-bg);
  --vuln-text: var(--high-text);
}

.is-medium-vuln {
  --vuln-bg: var(--medium-bg);
  --vuln-text: var(--medium-text);
}

.is-low-vuln {
  --vuln-bg: var(--low-bg);
  --vuln-text: var(--low-text);
}

.is-clear-vuln {
  --vuln-bg: var(--clear-bg);
  --vuln-text: var(--clear-text);
}

.is-critical-vuln,
.is-high-vuln,
.is-medium-vuln,
.is-low-vuln,
.is-clear-vuln {
  background-color: var(--vuln-bg) !important;
  color: var(--vuln-text) !important;
}