/* ------------ MAIN CONTAINERS ------------ */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
header, footer  {
   background-color: #333;
   color: white;
   text-align: center;
   padding: 10px 0;
   flex-shrink: 0;
}

footer  {
   flex-shrink: 0;
}

.container {
   display: flex;
   flex: 1;
   overflow: hidden;
}

.menu {
    background-color: #f4f4f4;
    width: 18%;
    min-width: 100px;
    overflow:  auto;
    padding: 10px;
    box-sizing: border-box;
    flex-shrink: 0;
}

      .menu  div {
         margin-bottom: 10px;
      }
      .menu  div > div {
         margin-left: 20px;
      }

.content {
   background-color: #e9e9e9;
   width: 82%;
   overflow:  auto;
   padding: 10px;
   box-sizing: border-box;
}






.table-services-container {
   width: 100%; /* Adjust the width as necessary */
   height: 100%; /* Set the height of the container */
   overflow-y: auto; /* Enable vertical scrolling */
   border: 1px solid #ddd; /* Optional: Add a border */
 }

 table {
   width: 100%;
   border-collapse: collapse;
   /* margin-bottom: 20px;  */  /* <--- remove --*/
}

 thead th {
   position: sticky;
   top: 0;
   background-color: #f8f8f8; /* Optional: Set background color for the header */
   z-index: 1; /* Ensure the header stays on top */
   box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); /* Optional: Add a shadow for better visibility */
 }

 tbody tr {
   border-top: 1px solid #ddd;
 }

 tbody td {
   padding: 8px; /* Optional: Adjust padding */
 }



/* ------------ CSS FOR NUMBERS/ METRICS ------------ */

.front-number {
   font-size: 10px;
   font-weight: bold;
}

.rounded-number {
   display: inline-block;
   /* background-color: #ff5722; */
   color: #ffffff; /* Font color */
   font-size: 10px; /* Font size */
   font-weight: bold; /* Font weight */
   padding: 5px 10px; /* Padding around the text */
   border-radius: 10px; /* Rounded corners */
   margin: 2px; /* Space around each element */
   text-align: center; /* Aligns text horizontally */
}

.metric-critical-back {
   background-color: #ef3017;
}
.metric-high-back {
   background-color: #dd6119;
}
.metric-medium-back {
   background-color: #494e49;
}
.metric-low-back {
   background-color: #9e9595;
}
.metric-vulnerabilities-back {
   background-color: #dc32ef;
}
.metric-components-back {
   background-color: #444aef;
}


.metric-critical-front {
   color: #ef3017;
}
.metric-high-front {
   color: #dd6119;
}
.metric-medium-front {
   color: #494e49;
}
.metric-low-front {
   color: #9e9595;
}
.metric-vulnerabilities-front {
   color: #dc32ef;
}
.metric-components-front {
   color: #444aef;
}

/* ------------ CSS FOR DATES ------------ */

.days-ago {
 font-style: italic;
 color: #7689d3;
}

/* ------------ CSS FOR SORTING THE TABLE ------------ */

/* Change the cursor to pointer and add hover effect */
.column-sort {
   cursor: pointer;
   color: inherit; /* maintain the text color */
 }

 .column-sort:hover {
   text-decoration: underline;
   color: blue; /* change the color on hover */
 }
