/* public/css/tab/tab-prodowner.css */

/* ------------ CSS FOR TABLE TD ------------ */
.tab-container-main-col td {
   border: 1px solid #353030;
}

/* ------------ CSS FOR RUNTIME LIST ------------ */

.td-git-version-info .td-git-version-red,
.td-runtime-info .td-runtime-info-red {
  color: red;
}
.td-git-version-info .td-git-version-yellow,
.td-runtime-info .td-runtime-info-yellow {
  color: orange;
}
.td-git-version-info .td-git-version-green,
.td-runtime-info .td-runtime-info-green
 {
  color: green;
}
