{% from "macros.njk" import addDaysAgo %}

<link rel="stylesheet" href="{{basePath}}/css/tab-endol.css">

<div class="tab-container">
  <div class="tab-container-left-col">
      <!-- Master checkbox to control all .name-checkbox -->
      <div class="masterCheckbox">
            <input type="checkbox" id="masterCheckbox-id">
            <label for="masterCheckbox-id"><strong>Select All</strong></label>
            <hr>
      </div>
      <form id="filterForm">
         {% for project, projArray in endols %}
            <div>
               <input type="checkbox" id="{{ project }}" class="name-checkbox" checked>
               <label for="{{ project }}" class="label-name-checkbox">{{ project }}</label>
               <div>
               {% for cycle in projArray %}
                     <input type="checkbox" id="{{ project }}-{{ cycle.cycle }}" class="version-checkbox" data-name="{{ project }}" checked>
                     <label for="{{ project }}-{{ cycle.cycle }}" class="label-version-checkbox">{{ cycle.cycle }}</label><br>
                  {% endfor %}
               </div>
            </div>
         {% endfor %}
      </form>
  </div>

  <div class="tab-container-main-col">
    <table id="tab-table-id">
      <thead>
         <!-- Col Headers -->
         <tr>
            <th class="row-header-title header-project"         id="col-head-project"         data-type="string">Project</th>
            <th class="row-header-title header-cycle"           id="col-head-cycle"           data-type="string">Cycle</th>
            <th class="row-header-title header-rel-date"        id="col-head-rel-date"        data-type="string">Release Date</th>
            <th class="row-header-title header-lts"             id="col-head-lts"             data-type="string">LTS</th>
            <th class="row-header-title header-eol"             id="col-head-eol"             data-type="date">EOL</th>
            <th class="row-header-title header-latest"          id="col-head-latest"          data-type="string">Latest</th>
            <th class="row-header-title header-latest-rel-date" id="col-head-latest-rel-date" data-type="date">Latest Release Date</th>
         </tr>
      </thead>
      <tbody>
         {% for project, projArray in endols %}
            {% for cycle in projArray %}
            <tr data-name="{{ project }}" data-version="{{ cycle.cycle }}">
               <td class="td-project">        {{ project }}</td>
               <td class="td-cycle">          {{ cycle.cycle }}</td>
               <td class="td-rel-date"><span> {{ cycle.releaseDate}}</span>{{addDaysAgo( cycle.releaseDate ) }}</td>
               <td class="td-lts">            {{ cycle.lts }}</td>
               <td class="td-eol"><span>      {{ cycle.eol }}</span>{{addDaysAgo( cycle.eol ) }}</td>
               <td class="td-latest">         {{ cycle.latest }}</td>
               <td class="td-latest-rel-date"><span>{{ cycle.latestReleaseDate}}</span>{{addDaysAgo( cycle.latestReleaseDate ) }}</td>
            </tr>
            {% endfor %}
         {% endfor %}
      </tbody>
      </table>
    </table>
  </div>
</div>
