{% from "macros.njk" import addDaysAgo, setLanguage, sonarLink, depTrackLink, DepTrackMetrics%}

{#
macro to create a dropdown filter for a given field in a collection:
- collection: the array to loop over (ex. "documents")
- field: the nested property to extract unique values from (ex "-----.gitInfo.owner")
- the unique id to assign to the resulting <select>

The select will have:
 - an "All" option (left always at 1st position)
 - one option for each unique value of the field in the collection
 - sorted values
 #}

{% macro dropdownFilter(collection, field, id) %}
   <select class="header-select" id="{{ id }}">
        <option value="All">All</option>
        {% set uniqueValues = [] %}

        {% for item in collection %}

            {% set keys = field.split('.') %} <!-- split the field into keys  (ex. "gitInfo.owner" ==>  ["gitInfo", "owner"]) -->
            {% set value = item %}
            {% for key in keys %}
                {% if value[key] is defined %}
                    {% set value = value[key] %}
                {% else %}
                    {% set value = '' %}
                {% endif %}
            {% endfor %}

            {% if value and value not in uniqueValues %}
                {% set _ = uniqueValues.push(value) %}
            {% endif %}
        {% endfor %}

        <!-- Sort the unique values -->
        {% set sortedValues = uniqueValues | sort %}

        <!-- Generate options -->
        {% for value in sortedValues %}
            <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
    </select>
{% endmacro %}




<link rel="stylesheet" href="{{basePath}}/css/tab-services.css">

<div class="tab-container">
  <div class="tab-container-left-col">
      <!-- Master checkbox to control all .name-checkbox -->
      <div class="masterCheckbox">
            <input type="checkbox" id="masterCheckbox-id">
            <label for="masterCheckbox-id"><strong>Select All</strong></label>
            <hr>
      </div>
      <form id="filterForm">
         {% for document in documents %}
            <div>
               <input type="checkbox" id="{{ document.name }}" class="name-checkbox" checked>
               <label for="{{ document.name }}" class="label-name-checkbox">{{ document.name }}</label>
               <div>
                  {% for version in document.versions %}
                     <input type="checkbox" id="{{ document.name }}-{{ version.version }}" class="version-checkbox" data-name="{{ document.name }}" checked>
                     <label for="{{ document.name }}-{{ version.version }}" class="label-version-checkbox">{{ version.version }}</label><br>
                  {% endfor %}
               </div>
            </div>
         {% endfor %}
      </form>
  </div>

  <div class="tab-container-main-col">
    <table id="tab-table-id">
         <thead>
         <!-- Headers for Col groups -->
            <tr>
               <th class="group-header group-service"  colspan="1"></th>
               <th class="group-header group-git"      colspan="4">Git info</th>
               <th class="group-header group-sonar"    colspan="4">Sonar</th>
               <th class="group-header group-version"  colspan="2">Version info</th>
               <th class="group-header group-ecs"      colspan="3">ECS</th>
               <th class="group-header group-deptrack" colspan="7">Dependency Track</th>
            </tr>
         <!-- header row with filter dropdown -->
            <tr>
                  <!--  1 --><th class="row-header-select"></th>

                  <!--  2 --><th class="row-header-select">{{ dropdownFilter(documents, "gitInfo.owner", "select-owner") }}</th>

                  <!--  3 --><th class="row-header-select"></th>
                  <!--  4 --><th class="row-header-select"></th>
                  <!--  5 --><th class="row-header-select"></th>

                  <!--  5 --><th class="row-header-select"></th>
                  <!--  7 --><th class="row-header-select"></th>
                  <!--  8 --><th class="row-header-select"></th>
                  <!--  9 --><th class="row-header-select"></th>

                  <!-- 10 --><th class="row-header-select"></th>
                  <!-- 11 --><th class="row-header-select"></th>

                  <!-- 12 --><th class="row-header-select"></th>
                  <!-- 13 --><th class="row-header-select"></th>
                  <!-- 14 --><th class="row-header-select"></th>

                  <!-- 15 --><th class="row-header-select"></th>
                  <!-- 16 --><th class="row-header-select"></th>
                  <!-- 17 --><th class="row-header-select"></th>
                  <!-- 18 --><th class="row-header-select"></th>
                  <!-- 19 --><th class="row-header-select"></th>
                  <!-- 20 --><th class="row-header-select"></th>
                  <!-- 21 --><th class="row-header-select"></th>
            </tr>
         <!-- Col Headers -->
            <tr>
                  <!--  1 --><th class="row-header-title header-service" id="col-head-service" data-type="string"> Service</th>

                  <!--  2 --><th class="row-header-title header-git" id="col-head-git-owner"    data-type="string"> Owner</th>
                  <!--  3 --><th class="row-header-title header-git" id="col-head-git-lang"     data-type="string"> Lang</th>
                  <!--  4 --><th class="row-header-title header-git" id="col-head-git-rel-last" data-type="string"> Last Release</th>
                  <!--  5 --><th class="row-header-title header-git" id="col-head-git-rel-date" data-type="date">   Date</th>

                  <!--  5 --><th class="row-header-title header-sonar-metric" id="col-head-sonar-coverage" data-type="string"><span>Coverage</span></th>
                  <!--  7 --><th class="row-header-title header-sonar-metric" id="col-head-sonar-bugs"     data-type="number"><span>Bugs</span></th>
                  <!--  8 --><th class="row-header-title header-sonar-metric" id="col-head-sonar-csmell"   data-type="number"><span>Code smell</span></th>
                  <!--  9 --><th class="row-header-title header-sonar-metric" id="col-head-sonar-vul"      data-type="number"><span>Vulnerabilities</span></th>

                  <!-- 10 --><th class="row-header-title header-version" id="col-head-deptk-version"   data-type="string"> Version</th>
                  <!-- 11 --><th class="row-header-title header-version" id="col-head-deptk-runtime"   data-type="string"> Runtime</th>

                  <!-- 12 --><th class="row-header-title header-ecs" id="col-head-ecs-cidev"   data-type="string"><span>cidev</span></th>
                  <!-- 13 --><th class="row-header-title header-ecs" id="col-head-ecs-stag"    data-type="string"><span>staging</span></th>
                  <!-- 14 --><th class="row-header-title header-ecs" id="col-head-ecs-live"    data-type="string"><span>live</span></th>

                  <!-- 15 --><th class="row-header-title header-deptrack"  id="col-head-deptk-date" data-type="date"  >Last BOM</th>
                  <!-- 16 --><th class="row-header-title header-deptrack header-dt-metric" id="col-head-deptk-mcrit" data-type="number"><span>Critical</span></th>
                  <!-- 17 --><th class="row-header-title header-deptrack header-dt-metric" id="col-head-deptk-mhigh" data-type="number"><span>High</span></th>
                  <!-- 18 --><th class="row-header-title header-deptrack header-dt-metric" id="col-head-deptk-mmed"  data-type="number"><span>Medium</span></th>
                  <!-- 19 --><th class="row-header-title header-deptrack header-dt-metric" id="col-head-deptk-mlow"  data-type="number"><span>Low</span></th>
                  <!-- 20 --><th class="row-header-title header-deptrack header-dt-metric" id="col-head-deptk-mvul"  data-type="number"><span>Vulner.</span></th>
                  <!-- 21 --><th class="row-header-title header-deptrack header-dt-metric" id="col-head-deptk-mcomp" data-type="number"><span>Compon.</span></th>
            </tr>
         </thead>
         <tbody>
         {% for document in documents %}
            <!-- Iterate over each version entry in versions array -->
            {% for version in document.versions %}
               <tr data-name="{{ document.name }}" data-version="{{ version.version }}">
                     <!-- 1st Column (link) -->
                     <td class="td-name"><a href="{{ document.gitInfo.repo }}">{{ document.name }}</a></td>

                     <!-- 4 Columns (Git info)-->
                     <td class="td-git-owner">     <a href="{{ document.gitInfo.repo }}/custom-properties">{{ document.gitInfo.owner }}</a></td>
                     <td class="td-git-lang">      {{setLanguage(version.lang, document.gitInfo.lang, document.gitInfo.repo) }}</td>
                     <td class="td-git-version">   <a href="{{ document.gitInfo.repo }}/releases">         {% for release in document.gitInfo.releases %}   <li>{{ release.version }}</li> {% endfor %} </a></td>
                     <td class="td-git-date"><span><a href="{{ document.gitInfo.repo }}/releases">         {{ document.gitInfo.releases[0].date | date("YYYY-MM-DD") }}</a></span>{{addDaysAgo( document.gitInfo.releases[0].date ) }}</td>

                     <!-- 4 Columns (sonar Metrics) -->
                     <td class="td-met-coverage">       {{ sonarLink(sonarUri, document.sonarKey, document.sonarMetrics.coverage) }}</td>
                     <td class="td-met-bugs">           {{ sonarLink(sonarUri, document.sonarKey, document.sonarMetrics.bugs) }}</td>
                     <td class="td-met-smells">         {{ sonarLink(sonarUri, document.sonarKey, document.sonarMetrics.code_smells) }}</td>
                     <td class="td-met-vulnerabilities">{{ sonarLink(sonarUri, document.sonarKey, document.sonarMetrics.vulnerabilities) }}</td>

                     <!-- 2 Columns Version & Runtime-->
                     <td class="td-version">{{ version.version }}</td>
                     <td class="td-runtime">
                        {% if version.runtime.length > 1 %}
                           <ul class="td-runtime-info"> {% for info in version.runtime %} <li>{{ info }}</li> {% endfor %} </ul>
                        {% else %}
                           {{ version.runtime[0] }}
                        {% endif %}
                     </td>

                     <!-- 3 Columns ECS -->
                     <td class="td-ecs"> {% for version in document.ecs.cidev %}   <li>{{ version }}</li> {% endfor %} </td>
                     <td class="td-ecs"> {% for version in document.ecs.staging %} <li>{{ version }}</li> {% endfor %} </td>
                     <td class="td-ecs"> {% for version in document.ecs.live %}    <li>{{ version }}</li> {% endfor %} </td>

                     <!-- 7 Columns Dep Track (Version specific) -->
                     <td class="td-bom-import"><span>{{ depTrackLink(depTrackUri, version.lastBomImport | date("YYYY-MM-DD"), version.uuid) }}</span>{{addDaysAgo( version.lastBomImport ) }}</td>
                     <td class="td-critical">
                        {{DepTrackMetrics(depTrackUri, version.metrics.critical, "critical", version.uuid)}}
                     </td>
                     <td class="td-deptrack-high">
                        {{DepTrackMetrics(depTrackUri, version.metrics.high, "high", version.uuid)}}
                     </td>
                     <td class="td-deptrack-medium">
                        {{DepTrackMetrics(depTrackUri, version.metrics.medium, "medium", version.uuid)}}
                     </td>
                     <td class="td-deptrack-low">
                        {{DepTrackMetrics(depTrackUri, version.metrics.low, "low", version.uuid)}}
                     </td>
                     <td class="td-deptrack-vulnerabilities">
                        {{DepTrackMetrics(depTrackUri, version.metrics.vulnerabilities, "vulnerabilities", version.uuid)}}
                     </td>
                     <td class="td-deptrack-components">
                        {{DepTrackMetrics(depTrackUri, version.metrics.components, "components", version.uuid, "components")}}
                     </td>
            </tr>
            {% endfor %}
         {% endfor %}
         </tbody>
    </table>
  </div>
</div>
